<%- include ("./layouts/header") %>

<h1><%= title %></h1>
<form action="/create" method="POST">
    <div class="row">
        <div class="flex-wrap">
            <div class="input-field">
                <input type="text" name="title">
                <label for="todo">enter the name of the new Todo:</label>
            </div>
            <button type="submit" class="btn purple darken-4">Create</button>
        </div>
    </div>
</form>

<%- include ("./layouts/footer") %>